.container{
    background-color: rgb(103, 4, 4);
    border-radius:10px;
    color:white;
    margin:5px;
    padding:5px;
    width:400px;
    align-items: center;
    text-align: center;
    
}
button{
    background-color: rgb(4, 21, 130);
    font-size: 20px;
    color:rgb(251, 243, 243);
    margin:5px;
    padding:8px;
    border-radius:25px;
}

#count{
    display : inline-block;
    font-size: 40px;
}

