.container{
    background-color: rgb(42, 44, 0);
    color:white;
    margin:5px;
    padding:5px;
    width:400px;
    align-items: center;
    text-align: center;
    
}
button{
    background-color: aquamarine;
    font-size: 20px;
    color:black;
    margin:9px;
    padding:8px;
}

#count{
    font-size: 40px;
}